* {
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-image:linear-gradient( rgba(0,0,0,.5) , rgba(0,0,0,.5)), url("../img/bg.png");
    background-size: cover;
}

.main-container{
    width: 1066px;
    margin: 0 auto;
}

            /*-----------HEADER--------------*/
.header {
    width: 100%;
    border: 1px solid #ffffff;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.name-and-icon{
    position: relative;
}

.name-and-icon a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

.milan {
    position: absolute;
    top: 0;
    left: 60px;
    font-size: 30px;
}

.holidays {
    position: absolute;
    top: 28px;
    left: 60px;
    font-size: 20px;
}

.info {
    border: 1px solid #ffffff;
    color: #ffffff;
    text-align: end;

}
.info p {
    font-size: 18px;
}

.mail:hover .info>p {
    color: #f26522;
    cursor: pointer;
}

               /*---------- CENTER CONTAINER ------ */
.center-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 1066px;
    border: 1px solid #ffffff;
    padding: 5px;
    
}

.center-container >div {
    width: 308px;
    height: 200px;
    border: 2px solid #ffffff;
    
    text-align: center;
}

.center-container >div >p {
    color: #ffffff;
    margin-top: 5px;
}

.item1, .item2, .item3 {
    margin-bottom:60px;
}
.item4, .item5, .item6 {
    margin-bottom: 25px;
}

                  /*---------------FOOTER--------------*/
.footer {
    width: 1077px;
    
    border: 1px solid #ffffff;
    margin-top: 45px;
    text-align: center;
}

.footer >p {
    color: #ffffff;
}
















