.gallery-images{
    display: flex;
    flex-wrap: wrap;
    width: 1169px;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
    
}

.gallery-images >div {
    width: 280px;
    height: 270px;
    
    margin-bottom: 15px;

}

.gallery-images-first-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;

}

.gallery-images-first-item >a {
    text-decoration: none;
    color: white;
    background-color: #f1ad1d;
    padding: 12px 45px;
    margin-top: 18px;
}

#mini-text {
    text-align: center;
    font-weight: 300;
}

#mini-line {
    width: 64px;
    border-bottom: 3px solid #f1ad1d;
}

nav {
    margin-top: 40px;
    display: flex;
    width: 1169px;
    margin-bottom: 60px;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

nav >div {
    
}

nav >div >a {
    
    border: 1px solid black;
    text-decoration: none;
    padding: 12px 45px;
    
}