.pacman-top {
    width: 200px;
    height: 100px;
    background-color: yellow;
    border-radius: 100px 100px 0 0;
    display: inline-block;
    transform-origin: bottom center;
    transform: rotate(-45deg);
    animation-name: topRotate 0.5s;
    animation-iteration-count: infinite;
    
}

.pacman-bottom {
    width: 200px;
    height: 100px;
    background-color: yellow;
    border-radius: 0 0 100px 100px;
    display: inline-block;
    transform-origin: top center;
    
}

.pacman-top::before {
   content: '';
   border: 5px solid black;
   border-radius: 50%;
   position: absolute;
   top: 40px;
   right: 50px;
   transform-origin: center;

}

.pacman {
    display: flex;
    flex-direction: column;
    position: relative;

    animation-name: pacmanMove; 
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;

}

@keyframes pacmanMove {
   0%  { left:0px; top:0px;}
  25%  { left:400px; top:0px;}
  50%  { left:400px; top: 400px;}
  75%  { left:0px; top:400px;}
  100% { left:0px; top:0px;}
}

@keyframes topRotate {
   0%  {transform: rotate(45deg);}
  100% {transform: rotate(-45deg);}
}
